<html lang="en">
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script type="text/javascript" src="static/js/login.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/login.css" />
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,800' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<title>prtio | Log In</title>
</head>
<body>
	<div id="change-login-register">
		<span id="switch-text" class="montserrat">Don't have an account? <a href="/user/register">Create one now</a>.</span>
	</div>
	<div id="main-login-section">
		<span id="log-in-text" class="montserrat">Prtio Login</span>
		<form action='/user/do/login' id="prtio-registration" name='resetLayoutForm' method='POST'>
			<input name="email" type="text" placeholder="Email" />
			<input name="password" type="password" placeholder="Password" />
			<button class="submit-button" id="prtio-submit-log">Log In</button>
		</form>
	</div>
</body>
</html>