<html lang="en">
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script type="text/javascript" src="static/js/login.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/login.css" />
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,800' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<title>prtio | Register</title>
</head>
<body>
	<header>
		<span>Already have an account? Sign in <a href="/user/signin">here</a></span>
	</header>
	<div id="login-logo">
		<span id="log-in-text">Prtio Registration</span>
	</div>
	<h2>{{ message }}</h2>
	<form action='/user/do/register' id="prtio-registration" name='resetLayoutForm' method='POST'>
		<input name="email" type="text" placeholder="Email" />
		<input name="password" type="password" placeholder="Password" />
		<button class="submit-button" id="prtio-submit-log">Register</button>
	</form>		
</body>
</html>