<html>
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script type="text/javascript" src="static/javascript/home.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<title>prtio | Curate Parties To Your Liking</title>
</head>
<body>
	<form action='/user/do/register' name='resetLayoutForm' method='POST'>
		<input name="email" type="text" placeholder="Email" />
		<input name="firstname" type="text" placeholder="First Name" />
		<input name="lastname" type="text" placeholder="Last Name" />
		<input name="password" type="password" placeholder="Password" />
		<input type="submit" name="submit" value="Register" />
	</form>
		
</body>
</html>