<html lang="en">
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script type="text/javascript" src="static/javascript/home.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,800' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
	<title>prtio | Curate Parties To Your Liking</title>
</head>
<body>
	<div class="modal-box">
		<div class="title">
			<span id="title-name">prtio</span>
		</div>
		<span class="subtitle white">The best way to make a party playlist.</span>
		<form action = '/user/login' name='resetLayoutForm' method='POST'>
		    <button id="signin-facebook-button" class="facebook">Sign up with Facebook</button>
		</form>
		<!-- <button id="facebook-login" href="/user/login" class="homepage-button montserrat">Sign In</a> -->
	</div>
</body>
</html>